LDAP_ORGANISATION=domain
LDAP_DOMAIN=domain.com
LDAP_ADMIN_PASSWORD=password-changeme
LDAP_CONFIG_PASSWORD=password-changeme
LDAP_RFC2307BIS_SCHEMA=true
LDAP_REMOVE_CONFIG_AFTER_SETUP=true
LDAP_TLS_VERIFY_CLIENT=never

LDAP_URI=ldap://mailserver-ldap:3890
LDAP_BASE_DN=dc=domain,dc=com
LDAP_REQUIRE_STARTTLS=TRUE
LDAP_ADMINS_GROUP=admins
LDAP_ADMIN_BIND_DN=uid=admin,ou=people,dc=domain,dc=com
LDAP_ADMIN_BIND_PWD=password-changeme
LDAP_IGNORE_CERT_ERRORS=false
EMAIL_DOMAIN=domain.com
NO_HTTPS=TRUE
PASSWORD_HASH=SSHA
SERVER_HOSTNAME=https://ldap.domain.com/