LDAP_ORGANISATION=VentrueTechnologies
LDAP_DOMAIN=ventruetechnologies.com
LDAP_ADMIN_PASSWORD=@nDREE170702
LDAP_CONFIG_PASSWORD=@nDREE1%
LDAP_RFC2307BIS_SCHEMA=true
LDAP_REMOVE_CONFIG_AFTER_SETUP=true
LDAP_TLS_VERIFY_CLIENT=never

LDAP_URI=ldap://mailserver-ldap:3890
LDAP_BASE_DN=dc=ventruetechnologies,dc=com
LDAP_REQUIRE_STARTTLS=TRUE
LDAP_ADMINS_GROUP=admins
LDAP_ADMIN_BIND_DN=uid=admin,ou=people,dc=ventruetechnologies,dc=com
LDAP_ADMIN_BIND_PWD=anDREE1%
LDAP_IGNORE_CERT_ERRORS=false
EMAIL_DOMAIN=ventruetechnologies.com
NO_HTTPS=TRUE
PASSWORD_HASH=SSHA
SERVER_HOSTNAME=https://ldap.ventruetechnologies.com/